#cart_items {
   background: transparent;
   border: 0;
   margin: 1px 0 0;
}

.fa-search {
   position: relative;
   color: hsl(240, 37%, 12%);
   left: 400px;
   cursor: pointer;
}

/************ Product container **********/
.product_list {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   border: 10px solid grey;
   background: ghostwhite;
   min-height: 100px;
}

.product_list img {
   width: 50%;
   margin: 0 0 0 20px;
}

.product_list h2 {
   font-size: 20px;
   margin: 20px 0 0 40px;
}

.product_list h3 {
   font-size: 20px;
   margin: 0 0 0 40px;
}

.product_list button {
   background: transparent;
   border: 0;
   margin: 0 0 0 40px;
}


.products_container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}

.products_container section {
   border: 2px solid ghostwhite;
   display: block;
}

.products_container section img {
   width: 80%;
}

.products_container section h2 {
   font-size: 20px;
   letter-spacing: 2px;
}


.total_items {
   position: absolute;
   top: -150px;
}

.total_price {
   position: absolute;
   top: -100px;
}

header {
   background-color: ghostwhite;
   position: relative;
}

header input {
   position: relative;
   width: 500px;
   left: 440px;
   height: 50px;
   margin: 20px 0 0;
   padding: 0 20px 0;
   border-radius: 40px;
   border: 1px solid hsl(240, 37%, 12%);
}

header ul {
   position: absolute;
   display: flex;
   right: 10px;
   margin-top: -70px;
   color: hsl(240, 37%, 12%);
   cursor: pointer;
}

header li {
   padding: 0 10px;
}

header li:hover {
   color: darkblue;
}

nav {
   position: relative;
   text-align: center;
   margin: 0 0 0 20px;
   color: hsl(240, 37%, 12%);
   background-color: ghostwhite;
   cursor: pointer;
}

nav i {
   padding: 23px;
}

nav i:hover {
   color: darkblue;
}

/******** Not clicked on cart-list button ***************/
section {
	display: none;
}

footer {
   display: flex;
}

button {
   display: block;
   cursor: pointer;
   color: hsl(240, 37%, 12%);
   height: 20px;
   margin-top: 10px;
}

button:hover {
   color: darkblue;
}
