#cart_items {
   background: transparent;
   border: 0;
   margin-top: -9px;
}

.grid_template {
   display: grid;
   grid-template-columns: 300px 1050px;
   grid-template-rows: auto auto auto auto auto;
   gap: 30px 30px;
   background-color: white;
   grid-template-areas:
      "header     header"
      "nav        nav"
      "aside      figure"
      "  .        section"
      "  .        footer";
}

.fa-search {
   position: relative;
   color: hsl(240, 37%, 12%);
   margin-left: 900px;
   top: -35px;
   cursor: pointer;
}

.product_list {
   grid-area: figure;
   position: relative;
   background: ghostwhite;
   width: 100%;
   min-height: 100%;
   display: block;
}

.grid_container {
   grid-area: section;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;
}

.grid_container section {
   border: 2px solid ghostwhite;
}

.grid_container section img {
   width: 50%;
}

.grid_container section h2 {
   font-size: 20px;
   letter-spacing: 2px;
}

header {
   grid-area: header;
   background-color: ghostwhite;
   position: relative;
}

header input {
   position: relative;
   display: flex;
   width: 500px;
   left: 440px;
   height: 50px;
   margin: 20px 0 0;
   padding: 0 20px 0;
   border-radius: 40px;
   border: 1px solid hsl(240, 37%, 12%);
}

header ul {
   position: absolute;
   display: flex;
   right: 10px;
   margin-top: -70px;
   color: hsl(240, 37%, 12%);
   cursor: pointer;
}

header li {
   padding: 0 10px;
}

header li:hover {
   color: darkblue;
}

nav {
   grid-area: nav;
   position: relative;
   text-align: right;
   margin: 0 0 0 20px;
   color: hsl(240, 37%, 12%);
   background-color: ghostwhite;
   cursor: pointer;
}

nav i {
   padding: 23px;
}

nav i:hover {
   color: darkblue;
}

aside {
   grid-area: aside;
   position: sticky;
   top: 50px;
   margin: 0 0 0 20px;
   background-color: ghostwhite;
   max-height: 300px;
}

figure {
   grid-area: figure;
}

footer {
   grid-area: footer;
   display: flex;
}

button {
   display: block;
   cursor: pointer;
   color: hsl(240, 37%, 12%);
   height: 50px;
}

button:hover {
   color: darkblue;
}

a {
   font-size: 20px;
   padding-top: 20px;
}